
body{
    margin:0;
    background-color:#062249;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:0px 0px, 0px 0px, -1px -1px, -1px -1px;
}

header{
    display: flex;
    flex-direction: row;
    background-color:#062249; 
    order: 1;
    border-bottom: solid;
    border-bottom-color: white;
}

#midblocks{
    display: flex;
    flex-direction: column;
}

.logoblock{
    flex: 1;
    border-radius:50%;
}

#midblocks nav{
    background-color:#264d8f; 
    flex:auto;
    order: 1;
    border-bottom-color: white;
    border-left: solid;
    border-left-color: white;
}

.logotext{
    flex:2;
    font-size: 40px;
    color:#8fafcc;
    text-decoration: none;
}

.navrefer{
    display: flex;
    flex: 1;
    text-decoration: none;
    font-size: 46px;
    color:#aed7fd;
}

#midblocks .referblock {
    flex: none;
    order:4;
    background-color: #264d8f;
    border: solid;
    border-color: white;
}

#midblocks .tableblock {
    flex: none;
    order:3;
    background-color: #264d8f;
    border: solid;
    border-color: white;
}

.midheader{
    color: #aed7fd;
    margin-left: auto; 
    margin-right: auto; 
    width: 100px;
}

p{
    color: #e0effd;
}

ol{
    color:#aed7fd;
}

ul{
    color:#aed7fd;
}

a{
    transition-duration: 0.25ms;
    color:#aed7fd;
}

a:hover{
    color:#dbecfc;
}

table{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    width: 780px;
    height: 280px;
    border: solid;
    border-color: #77b5e7;
    border-spacing: 0px;
}

tr{
    background-color: #021f47;
}

th{
    color: #aed7fd;
    border: solid;
    border-width: 1px;
    border-color: #77b5e7;
}

.nctr{
    background-color: #1d3a63;
}

label{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    color: #aed7fd;
}

#midblocks form {
    flex: none;
    order: 5;
    border: solid;
    background-color: #264d8f;
    border-color: white;
}
  
form > * {
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: auto;
    width: 200px;
    margin-right: auto;
    font-size: 20px;
}

.radio{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    color: #aed7fd;
}

footer{
    position: static;
    bottom: 0px;
    width:100%; 
    background-color:#062249; 
    height:60px;
    margin-top: 50px;
    border-top: solid;
    border-top-color: white;
}